force-app/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_FireJBTrigger</name>
        <label>SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100035468</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;CreatedDate&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Preferred_Language__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja74eaecd7ede93687a9b6bb69645feb4_FireJBTrigger</name>
        <label>SalesforceObja74eaecd7ede93687a9b6bb69645feb4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja74eaecd7ede93687a9b6bb69645feb4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>515000435</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</name>
        <label>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja74eaecd7ede93687a9b6bb69645feb4</name>
        <label>JB_Decision_Null_Check_SalesforceObja74eaecd7ede93687a9b6bb69645feb4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Decision</name>
        <label>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n0000015w5kAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$Hello Dexcom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_State_change_Decision</name>
        <label>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n0000015w5kAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$Hello Dexcom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_Decision</name>
        <label>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja74eaecd7ede93687a9b6bb69645feb4</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSr4AAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Mktg_Journey_Touch_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second Sensor Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja74eaecd7ede93687a9b6bb69645feb4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja74eaecd7ede93687a9b6bb69645feb4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_State_change_Decision</name>
        <label>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78a5dff2639bc7e72177c3fb97ea2362</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja74eaecd7ede93687a9b6bb69645feb4</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSr4AAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Mktg_Journey_Touch_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second Sensor Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja74eaecd7ede93687a9b6bb69645feb4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja74eaecd7ede93687a9b6bb69645feb4</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja74eaecd7ede93687a9b6bb69645feb4</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
